@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
  font-family: swfont;
  src: url(./assets/fonts/STARWARS.woff);
}

body{
  background-image: url('./assets/images/bg.png');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center center;
}

h1{
  color: black;
  font-family: swfont;
  letter-spacing: 2px;
  text-shadow: -2px 0 #F2C640, 0 2px #F2C640, 2px 0 #F2C640, 0 -2px #F2C640;
}

h3{
  color: black;
  letter-spacing: 2px;
  font-family: swfont;
  text-shadow: -1px 0 #F2C640, 0 1px #F2C640, 1px 0 #F2C640, 0 -1px #F2C640;
  display: inline;
}


ul {
  list-style-type: none;
  padding: 0px;
}

li {
  margin: 10px;
}

.App {
  text-align: center;
  min-height: 900px;
  margin:30px;
}

.logoImage{
  margin-top: 20px; 
  max-width: 350px;
  width: 100%;
}

.content{
  font-family: 'Roboto';
  max-width: 500px;
  height: 600px;
  background-color:rgba(31,43,64,0.80);
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 40px;
  padding: 30px;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  border: solid 2px rgba(242,198,64,0.4);
  color: #F2C640;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
  border-radius: 20px;
}

.planet-info{
  height: 100%;
}

.next-planet-button button{
  background-color: #F2C640;
  border-color: #000000;
  width: 150px;
  height: 70px;
  font-size: 0.8em;
  border-radius: 10px;
  font-family: swfont;
  transition-duration: 0.4s;
}

.next-planet-button button:hover{
  background-color: #000000;
  color: #F2C640;
  border-color: #F2C640;
}

.loading-image{
  width: 60%;
  animation: loading-image-spin infinite 1.5s linear;
}

@keyframes loading-image-spin{
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
